* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div:hover {
  cursor: pointer;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 10vh);
  grid-template-rows: repeat(8, 10vh);
  width: 80vh;
  height: 80vh;
  position: relative;
}

.pawnChoice {
  position: absolute;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  top: 20%;
  right: 31.855px;
  display: none;
}

.pawnChoice img {
  border: 3px solid black;
}

#pawnChoicewhite img {
  background-color: #779556;
}

#pawnChoiceblack img {
  background-color: #ebecd0;
}

.white {
  background-color: #ebecd0;
}

.black {
  background-color: #779556;
}

.piece {
  width: 95%;
  height: 95%;
  object-fit: contain;
  display: block;
}

.clickable {
  width: 10vh;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
